<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowsix.cbec.dao.IGoodsPhotoDao">

<resultMap id="GoodsPhotoResultMap" type="GoodsPhoto">
  <id property="photoId" column="PHOTO_ID"/>
  <result property="goodId" column="GOODID" />
  <result property="des" column="DES"/>
  <result property="photo" column="PHOTO"/>
  <result property="rank" column="RANK"/>
  <association property="goods" column="PROID" select="com.rainbowsix.cbec.dao.IGoodsDao.byone"></association>
</resultMap>


<insert id="create" parameterType="GoodsPhoto">
	insert into GoodsPhoto (MAKER_ID, MAKER_NO, MAKER_NAME, MAKER_PASSWORD, ADDRESS , EMAIL, PHONE_NUMBER)
	values (MAKERID.nextval,#{makerNO},#{makerName},#{makerPassword},#{address},#{email},#{phoneNumber})
</insert>


<update id="update" parameterType="GoodsPhoto">
	update GoodsPhoto set 
	MAKER_NO = #{makerNO, jdbcType=NUMERIC},
	MAKER_NAME = #{makerName, jdbcType=VARCHAR},
	MAKER_PASSWORD = #{makerPassword, jdbcType=VARCHAR},
	ADDRESS = #{address, jdbcType=VARCHAR},
	EMAIL = #{email, jdbcType=VARCHAR},
	PHONE_NUMBER = #{phoneNumber, jdbcType=VARCHAR}
	where MAKER_ID= #{makerId, jdbcType=NUMERIC}
</update>

<delete id="delete" parameterType="int">
	delete from MAKER where MAKER_ID= #{makerId}
</delete>

<select id="selectListByAll" resultMap="GoodsPhotoResultMap">
	select *
	from GOODSPHOTO
</select>

<select id="selectByGoodsId" parameterType="int" resultMap="GoodsPhotoResultMap">
	select *
	from GoodsPhoto
	where MAKER_ID= #{makerId}
</select>


</mapper>