<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rainbowsix.cbec.dao.IGoodsDao">

<resultMap type="GoodsModel" id="GoodsModel">
			<id property="proid" column="proid"/>
			<result property="comid" column="comid"/>
			<result property="title" column="title"/>
			<result property="price" column="price"/>
			<result property="gooddate" column="gooddate"/>
			<result property="stock" column="stock"/>
			<result property="gooddesc" column="gooddesc"/>
			<result property="typeno" column="typeno"/>
			<result property="type" column="type"/>
			<result property="weight" column="weight"/>
</resultMap>


<insert id="create" parameterType="GoodsModel">
	insert into GOODS (PROID,COMID,TITLE,PRICE,GOODDATE,STOCK,GOODDESC,TYPENO,TYPE,WEIGHT,STATE)
	values (PROID.nextval,#{comid},#{title},#{price},#{gooddate,jdbcType=DATE},#{stock},#{gooddesc,jdbcType=VARCHAR},#{typeno},#{type,jdbcType=VARCHAR},#{weight},#{state})
</insert>

	<update id="update" parameterType="GoodsModel">
		update GOODS set 
		COMID = #{comid},
		TITLE = #{title},
		PRICE = #{price},
		GOODDATE = #{gooddate,jdbcType=DATE},
		STATE = #{state},
		STOCK = #{stock},
		GOODDESC = #{gooddesc,jdbcType=VARCHAR},
		TYPENO = #{typeno},
		TYPE = #{type,jdbcType=VARCHAR},
		WEIGHT = #{weight}
		where PROID =#{proid}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from GOODS where PROID = #{proid}
	</delete>
	
	<select id="byone" parameterType="int" resultType="GoodsModel">
		select *
		from GOODS
		where PROID= #{proid}
	</select>
	
	<select id="byall" resultType="GoodsModel">
		select *
		from GOODS
	</select>
	
	<select id="alltype" resultType="GoodsModel">
		select typeno,type
		from GOODS
		group by typeno,type
	</select>
	
	<select id="bytype" parameterType="int" resultType="GoodsModel">
		select *
		from GOODS
		where typeno = #{typeno,jdbcType=NUMERIC}
	</select>
	
	
</mapper>