<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rainbowsix.cbec.dao.IGoodsDao">

<resultMap type="GoodsModel" id="GoodsModel">
			<id property="proid" column="proid"/>
			<result property="comid" column="comid"/>
			<result property="title" column="title"/>
			<result property="price" column="price"/>
			<result property="date" column="gooddate"/>
			<result property="stock" column="stock"/>
			<result property="desc" column="gooddesc"/>
			<result property="type" column="type"/>
			<result property="weight" column="weight"/>
</resultMap>


<insert id="create" parameterType="GoodsModel">
	insert into GOODS (PROID,COMID,TITLE,PRICE,GOODDATE,STOCK,GOODDESC,TYPE,WEIGHT,STATE)
	values (PROID.nextval,#{comid},#{title},#{price},#{date,jdbcType=DATE},#{stock},#{desc,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{weight},#{state})
</insert>

	<update id="update" parameterType="int">
		update GOODS set 
		COMID = #{comid},
		TITLE = #{title},
		PRICE = #{price},
		GOODDATE = #{date},
		STATE = #{state},
		STOCK = #{stock},
		GOODDESC = #{desc},
		TYPE = #{type},
		WEIGHT = #{weight}
		where #{proid}=PROID
	</update>
	
	<delete id="delete" parameterType="int">
		delete from GOODS where PROID = #{proid}
	</delete>
	
	<select id="byone" parameterType="int" resultType="GoodsModel">
		select *
		from GOODS
		where PROID= #{proid}
	</select>
	
	<select id="byall" resultType="GoodsModel">
		select *
		from GOODS
	</select>

</mapper>