<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowsix.cbec.dao.IMakerDao">

<resultMap id="MakerResultMap" type="Maker">
  <id property="makerId" column="MAKER_ID"/>
  <result property="makerNO" column="MAKER_NO" />
  <result property="makerName" column="MAKER_NAME"/>
  <result property="makerPassword" column="MAKER_PASSWORD"/>
  <result property="address" column="ADDRESS"/>
  <result property="email" column="EMAIL"/>
  <result property="phoneNumber" column="PHONE_NUMBER"/>
</resultMap>


<insert id="create" parameterType="Maker">
	insert into MAKER (MAKER_ID, MAKER_NO, MAKER_NAME, MAKER_PASSWORD, ADDRESS , EMAIL, PHONE_NUMBER)
	values (MAKERID.nextval,#{makerNO},#{makerName},#{makerPassword},#{address},#{email},#{phoneNumber})
</insert>

<update id="update" parameterType="Maker">
	update MAKER set 
	MAKER_NAME = #{makerName, jdbcType=VARCHAR},
	MAKER_PASSWORD = #{makerPassword, jdbcType=VARCHAR},
	ADDRESS = #{address, jdbcType=VARCHAR},
	EMAIL = #{email, jdbcType=VARCHAR},
	PHONE_NUMBER = #{phoneNumber, jdbcType=VARCHAR}
	where MAKER_NO= #{makerNO, jdbcType=NUMERIC}
</update>

<delete id="delete" parameterType="int">
	delete from MAKER where MAKER_NO= #{makerNO}
</delete>

<select id="selectListByAll" resultMap="MakerResultMap">
	select *
	from MAKER
</select>

<select id="selectByMakerNO" parameterType="int" resultMap="MakerResultMap">
	select *
	from MAKER
	where MAKER_NO= #{makerNO}
</select>


</mapper>