<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbowsix.cbec.dao.IMakerDao">

<insert id="create" parameterType="com.rainbowsix.cbec.model.MakerModel">
	insert into MAKER (MAKER_ID, MAKER_NO, MAKER_NAME, MAKER_PASSWORD, ADDRESS, EMAIL, PHONE_NUMBER)
	values (MAKERID.nextval,#{makerNO},#{makerName},#{makerPassword},#{address},#{email},#{phoneNumber})
</insert>

<update id="update" parameterType="com.rainbowsix.cbec.model.MakerModel">
	update MAKER set 
	MAKER_NO = #{makerNO},
	MAKER_NAME = #{makerName},
	MAKER_PASSWORD = #{makerPassword},
	ADDRESS = #{address},
	EMAIL = #{email},
	PHONE_NUMBER = #{phoneNumber},
	where #{MAKERID}=MAKER_ID
</update>

<delete id="delete" parameterType="int">
	delete from MAKER where MAKER_ID = #{MAKERID}
</delete>

<select id="selectProductListByMakerId" parameterType="int" resultType="com.rainbowsix.cbec.model.GoodsModel">
	select *
	from MAKER
	where MAKER_ID= #{MAKERID}
</select>

</mapper>