<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbowsix.cbec.dao.IOrderDao">

	<resultMap id="OrderResultMap" type="Order">
	  <id property="orderid" column="ORDERID" />
	  <result property="comid" column="COMID"/>
	  <result property="orderstate" column="ORDERSTATE"/>
	  <result property="bsid" column="BSID"/>
	  <!-- <association property="logistics" column="LOGISTICSID" select="com.rainbowsix.cbec.dao.ILogisticsDao.selectLogisticsListByAll" fetchType="eager"></association> -->
	</resultMap>
	
	<insert id="create" parameterType="Order">
	insert into ORDERS (ORDERID,COMID,ORDERSTATE,BSID)
	values (ORDER_SEQUENCE.nextval,#{comid},#{orderstate},#{bsid})
	</insert>
	
	<update id="update" parameterType="Order">
	update ORDERS set COMID=#{comid}, ORDERSTATE=#{orderstate}, BSID=#{bsid} where ORDERID=#{orderid}
	</update>
	
	<delete id="delete" parameterType="Order">
	delete from ORDERS where ORDERID=#{orderid}
	</delete>
	
	<select id="selectOrderListByAll" resultMap="OrderResultMap">
		select * from ORDERS
	</select>
	
	<select id="selectOrderListById" resultMap="OrderResultMap">
	select * from ORDERS where ORDERID=#{orderid}
	</select>

<!--练习登录- 根据账号和密码取得员工的个数，用于登录验证 -->
	<select id="selectCountByOrderidAndComid" resultType="int">
	  select count(ORDERID) from ORDERS where ORDERID=#{orderid} and COMID=#{comid}
	</select>

</mapper>