<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbowsix.cbec.dao.IOrderDao">

<insert id="create" parameterType="com.rainbowsix.cbec.model.OrderModel">
insert into ORDERS (ORDERID,COMID,ORDERSTATE,BSID)
values (ORDER_SEQUENCE.nextval,#{comid},#{orderstate},#{bsid})
</insert>

<insert id="update" parameterType="com.rainbowsix.cbec.model.OrderModel">
update ORDERS set COMID=#{comid}, ORDERSTATE=#{orderstate}, BSID=#{bsid} where ORDERID=#{orderid}
</insert>

<insert id="delete" parameterType="com.rainbowsix.cbec.model.OrderModel">
delete from ORDERS where ORDERID=#{orderid}
</insert>

<select id="selectOrderListByAll" resultType="com.rainbowsix.cbec.model.OrderModel">
select * from ORDERS
</select>

<select id="selectOrderListById" resultType="com.rainbowsix.cbec.model.OrderModel">
select * from ORDERS where ORDERID=#{orderid}
</select>


</mapper>