<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.rainbowsix.cbec.dao.IResellerDao">

	<resultMap type="Reseller" id = "ResellerResultMap">
		<id property = "resellerId" column = "Reseller_ID" />
		<id property = "resellerName" column = "RESELLER_NAME" />
		<result property = "location" column = "Reseller_location"/>
		<result property = "mail" column = "Reseller_mail"/>
		<result property = "phone_pre" column = "Reseller_phone_pre"/>
		<result property = "phont_suf" column = "Reseller__phone_suf"/>
	</resultMap>
	
	<select id = "selectResellerById" resultMap = "ResellerResultMap" parameterType="int">
		select * from reseller where reseller_ID = #{id}
	</select>

</mapper>