<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbowsix.cbec.dao.IRoleDao">

	<resultMap type="Role" id="roleResultMap">
		<!--  <association property="role" javaType="Role">-->
			<id property="id" column="roleid"/>
			<result property="name" column="rolename"/>
			<result property="detial" column="detial"/>
		<!-- </association> -->
	</resultMap>
	
	<resultMap type="Role" id="roleResultMapWithUsers" extends="roleResultMap">
		<collection property="users" javaType="ArrayList" ofType="User" resultMap="com.rainbowsix.cbec.dao.IUserDao.userResultMap"></collection>
	</resultMap>

	<insert id="create" parameterType="Role">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select ROLE_ID_SQ.nextval from dual
		</selectKey>	
		insert into user_role (roleId, roleName, detial) values 
		(#{id}, #{name}, #{detial})
	</insert>
	
	<update id="update" parameterType="Role">
		update user_role set roleName = #{name}, detial = #{detial}
		where roleid = #{id}
	</update>
	
	<update id="setMenuId" parameterType="Role"></update>
	<delete id="delete" parameterType="Role"></delete>
	<select id="selectByRoleName" parameterType="string" resultMap="roleResultMap">
		select * from user_role where roleName = #{name}
	</select>
	<select id="selectById" parameterType="int" resultMap="roleResultMap">
		select * from user_role where roleId = #{id}
	</select>
	
	<select id="selectAll" resultMap="roleResultMap">
		select * from user_role
	</select>
	
	<select id="selectAllWithUsers" resultMap="roleResultMapWithUsers">
		select u.*, r.roleid, r.rolename, r.detial from sys_user u 
		inner join user_link_role l on(u.userid = l.userid)
		right outer join user_role r on(l.roleid = r.roleid)
	</select>
	
</mapper>