<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.rainbowsix.cbec.dao.IUserDao">

	<resultMap type="User" id="userResultMap">
		<id property="no" column="userid"/>
		<result property="name" column="username"/>
		<result property="password" column="userpassword"/>
		<result property="mvoid" column="mvoid"/>
		<result property="paypackageid" column="paypackageid"/>
		<result property="createDate" column="createDate"/>
		<!-- <association property="role" column="ROLEID" select="com.rainbowsix.cbec.dao.IRoleDao.selectById"></association>
		<association property="area" column="area_ID" select="com.rainbowsix.cbec.dao.IAreaDao.selectById"></association> -->
	</resultMap>
	<!-- 有角色关联的ResultMap -->
	<resultMap type="User" id="userResultMapWithRole" extends="userResultMap">
		<!-- <association property="role" column="ROLEID" select="com.rainbowsix.cbec.dao.IRoleDao.selectById"></association> -->
		<collection property="roles" javaType="ArrayList" ofType="Role">
			<id property="id" column="roleid"/>
			<result property="name" column="rolename"/>
			<result property="detial" column="detial"/>
			<result property="menuid" column="menuid"/>
		</collection>
	</resultMap>
	<!-- 有供应商关联的ResultMap -->
	<resultMap type="User" id="userResultMapWithReseller" extends="userResultMap">
		<association property="reseller" column="reseller_ID" select="com.rainbowsix.cbec.dao.IResellerDao.selectById"></association>
	</resultMap>
	<!-- 有带地区管理 -->
	<resultMap type="User" id="userResultMapWithArea" extends="userResultMap">
		<association property="area" column="area_ID" resultMap="com.rainbowsix.cbec.dao.IAreaDao.areaResultMap"></association>
	</resultMap>
	<!-- 带地区，角色 -->
	<resultMap type="User" id="userResultMapWithAreaAndRole" extends="userResultMapWithRole">
		<association property="area" column="area_ID" resultMap="com.rainbowsix.cbec.dao.IAreaDao.areaResultMap"></association>
	</resultMap>

	<insert id="create" parameterType="User">
		insert into sys_user (userid, username, userpassword) values 
		(USER_ID_SQ.nextval, #{name}, #{password})
	</insert>
	
	<!-- 查询所有 -->
	<select id="selectAll" resultMap="userResultMap"> 
		select * from sys_user
	</select>
	
	<select id="selectAllWithRole" resultMap="userResultMapWithRole"> 
		select u.*, r.roleid, r.rolename, r.detial, r.menuid from sys_user u 
		inner join user_link_role l on(u.userid = l.userid)
		inner join user_role r on(l.roleid = r.roleid)
    	order by u.userid
	</select>
	
	<select id="selectAllWithArea" resultMap="userResultMapWithArea">
		select * from sys_user natural join area
	</select>
	
	<!-- 查询所有结束 -->
	<delete id="delete" parameterType="User">
		delete from sys_user where userid = #{no}
	</delete>
	<!-- 查询单个用户 -->
	<select id="selectById" parameterType="long" resultMap="userResultMap">
		select * from sys_user where userid = #{no}
	</select>
	<!-- 根据用户名查找 -->
	<select id="selectByName" parameterType="string" resultMap="userResultMap">
		select * from sys_user where username = #{name}
	</select>
	
	<update id="update" parameterType="User">
		update sys_user set username = #{name}, userpassword = #{password} 
		where userid = #{no}
	</update>
	
	<!-- 根据条件进行查找 -->
	
	<select id="selectByCondiction" resultMap="userResultMapWithAreaAndRole">
		select * from 
    		(select u.*, r.roleid, r.rolename, r.detial, r.menuid 
     		from sys_user u 
        	left outer join user_link_role l on u.userid = l.userid
     		left outer join user_role r on l.roleid = r.roleid
     		left outer join area a on u.area_ID = a.area_ID 
     		order by u.userid desc)
  		<where>
  			<if test="name != null and name != '' ">
  				username like #{name}
  			</if>
  			<if test="roles != null">
  				and roleid in
  				<foreach collection="roles" item = "i" open="(" separator="," close=")">
  					#{i}
  				</foreach>
  			</if>
  			<if test="before != null">
  				and createDate &gt;= #{before}
  			</if>
  			<if test="after != null">
  				and createDate &lt;= #{after}
  			</if>
  			<if test="area != null and area != 0">
  				and area_id = #{area}
  			</if>
  		</where>
	</select>
	<!-- 根据条件查询用户，包含角色 -->
	<select id="selectByCondictionWithPage" resultMap="userResultMapWithAreaAndRole">
		select * from(
			select a.*, rownum rn from 
		    (select u.*, r.roleid, r.rolename, r.detial, r.menuid 
     		from sys_user u 
        	left outer join user_link_role l on u.userid = l.userid
     		left outer join user_role r on l.roleid = r.roleid
     		left outer join area a on u.area_ID = a.area_ID 
     		order by u.userid desc) a
		    <where>
		     	<if test="name != null and name != '' ">
	  				username like #{name}
	  			</if>
	  			<if test="roles != null">
	  				and roleid in
	  				<foreach collection="roles" item = "i" open="(" separator="," close=")">
	  					#{i}
	  				</foreach>
	  			</if>
	  			<if test="before != null">
	  				and createDate &gt;= #{before}
	  			</if>
	  			<if test="after != null">
	  				and createDate &lt;= #{after}
	  			</if>
	  			<if test="area != 0">
  					and area_id = #{area}
  				</if>
	  			<if test="true">
	  				and rownum &lt;= #{end}
	  			</if>
		    </where>	  
		 ) where rn &gt;= #{start}
	</select>
	<!-- 根据条件查询用户，不包含角色 -->
	<select id="selectByCondictionWithPageWithoutRole" resultMap="userResultMap">
		select * from (
       		select u.*, rownum rn from sys_user u 
		<where>
			<if test="name != null and name != '' ">
	  				username like #{name}
	  			</if>
	  			<if test="before != null">
	  				and createDate &gt;= #{before}
	  			</if>
	  			<if test="after != null">
	  				and createDate &lt;= #{after}
	  			</if>
	  			<if test="area != 0">
  					and area_id = #{area}
  				</if>
				<if test="true">
	  				and rownum &lt;= #{end}
	  			</if>	
		</where> 
		)where rn &gt;= #{start}
	</select>
	
	<select id="selectCountByCondictionWithoutRole" resultType="int">
		select count(u.userid) from sys_user u 
		<where>
			<if test="name != null and name != '' ">
	  				username like #{name}
	  			</if>
	  			<if test="before != null">
	  				and createDate &gt;= #{before}
	  			</if>
	  			<if test="after != null">
	  				and createDate &lt;= #{after}
	  			</if>
	  			<if test="area != 0">
  					and area_id = #{area}
  				</if>	
		</where> 
	</select>
	
</mapper>