<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.rainbowsix.cbec.dao.IUserDao">

	<resultMap type="User" id="userResultMap">
		<id property="no" column="userid"/>
		<result property="name" column="username"/>
		<result property="password" column="userpassword"/>
		<result property="bvoid" column="bvoid"/>
		<result property="mvoid" column="mvoid"/>
		<result property="paypackageid" column="paypackageid"/>
		<result property="role" column="rolename"/>
	</resultMap>

	<insert id="create" parameterType="User">
		insert into sys_user (userid, username, userpassword, rolename) values 
		(USER_ID_SQ.nextval, #{name}, #{password}, #{role})
	</insert>
	
	<select id="selectAll" resultMap="userResultMap"> 
		select * from sys_user
	</select>
	
	<delete id="delete" parameterType="User">
		delete from sys_user where userid = #{no}
	</delete>
	
	<select id="selectById" parameterType="long" resultMap="userResultMap">
		select * from sys_user where userid = #{no}
	</select>
	
	<update id="update" parameterType="User">
		update sys_user set username = #{name}, userpassword = #{password}, rolename = #{role} 
		where userid = #{no}
	</update>
	
</mapper>